<?xml version='1.0' encoding='utf-8'?>
<widget id="com.virusRampage" version="1.0.0">
    <name>¡VIRUS RAMPAGE!</name>
    <icon src="www/img/icon.png" />
    <description>
        VIRUS RAMPAGE: UNA APLICACIÓN HÍBRIDA DESARROLLADA CON APACHE CORDOVA DEL JUEGO DE MESA VIRUS. Desarrollado solamente pon propositos educativos.
    </description>
    <author email="daniel.rodriguezcabello@gmail.com">
        Daniel Rodriguez Cabello
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="www/img/icon.png" />
        <icon density="mdpi" src="www/img/icon.png" />
        <icon density="hdpi" src="www/img/icon.png" />
        <icon density="xhdpi" src="www/img/icon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
    <engine name="android" spec="^6.4.0" />
    <engine name="browser" spec="^4.1.0" />
    <plugin name="cordova-plugin-screen-orientation" spec="^2.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
